<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HiComm</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
 <div class="container">
        <div class="header">
            <nav>

            </nav>
            <h3 class="text-muted">HiComm</h3>
        </div>

        <div class="jumbotron">
            <h1>Join to Hierarchical Communicator</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign Up </a>
            </p>
            <p><a class="btn btn-lg btn-success" href="showSignIn" role="button">Sign In</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Level A</h4>
                <p>Предоставляет минимальный уровень доступа к информации.</p>

                <h4>Level B</h4>
                <p>Предоставляет средний уровень доступа к информации.</p>

                <h4>level C</h4>
                <p>Предоставляет доступ ко всей информации.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; IVIA inc 2019</p>
        </footer>

    </div>
</body>
</html>